* {margin:0px;padding:0px;}
a{text-decoration:none;}
img{border:none;}
a:hover, a:focus{text-decoration:none;}

body{font-family: 'Droid Sans', sans-serif;font-size: 62.5%;background:url("../images/bgpattern.png") repeat scroll 0 0 transparent;}
p{font-size:15px;color:#393939;line-height:24px;}
h3{font-size:16px;color:#ffffff;font-weight:normal;padding-left:0px;padding-top:0px;text-align:center;margin:0px;}
h3 a{color:#ffffff;}
h3:hover{color:#ffffff;}
h3 a:hover{color:#ffffff;}
h2{color:#000;}
h2 a{color:#000;}
h2 a:focus, a:hover{color:#000;}
ul{list-style-type:none;}

#wrapper{overflow:hidden;}
.container{max-width:1024px;-webkit-box-shadow: 0 0 20px 0px;-moz-box-shadow: 0 0 20px 0px;-o-box-shadow: 0 0 20px 0px;box-shadow: 0 0 20px 0px;}
.no-padding{padding:0;}
.no-margin{margin:0;}
.no-margin-left{margin-left:0;}
.no-padding-right{padding-right:0;}
.no-padding-left{padding-left:0;}
.text-center{text-align:center!important;}
.text-left{text-align:left;}
.text-right{text-align:right;}

header{width:100%;float:left;}
.header-block .container{}
.header-block{width:100%;float:left;}
.header-top{width:100%;float:left;padding:8px 10px;background:url("../images/bg.jpg") repeat scroll 0 0 transparent;}
.logo{width:auto;float:left;padding-left: 8px;}
.logo img{margin-right:10px;}
.head-right{width:100%;float:left;padding-top:50px; padding-right: 5px;}
.book_online{width:100%;float:right;background-color:#058282;text-align:center;border-radius:5px;padding:5px 0px;border:1px solid #fff;-webkit-box-shadow:0 5px 9px -3px;-moz-box-shadow:0px 5px 9px -3px;box-shadow:0 5px 9px -3px;}
.book_online p{margin:0px;}
.book_online p a{color:#fff;}


/*MENU*/
.menu-block{width:100%;float:left;padding:5px 10px;background-color:#d7d7d7;}
.menucontainer{float:left;width:100%;background-color:#ffffff;padding:5px;}
.menucontainer ul{display:block;width:100%;background-color:#F7F7F7;border:1px solid #B8B8B8;padding-left:0px;margin:0px;}
.menucontainer ul li {z-index:1001;position:relative;display:inline-block;list-style-type: none;width: auto; padding: 0px 14px;text-align:center;background:url("../images/menudividerline.png") no-repeat right center scroll transparent;}
.menucontainer ul li a {display:block;color:#464747;font-size:16px;margin:0px;padding:12px 10px;outline:none;position:relative;}

.menucontainer ul li:last-child{background:none;}
.menucontainer ul.mobile-display{display:none;}
.menucontainer ul.blue li.active a,.menucontainer ul.blue li:hover a{color:#058282;}

/*SUB-MENU*/
ul.blue ul{margin-left:0em;background-color:#F7F7F7;position:absolute;left:-1px;z-index:10000000000000;text-align:center;visibility:hidden;min-width:124px;padding-top:0.5em;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
ul.blue ul li{z-index:1001;background-image:none;display:block;float:none;list-style-type:none;border:none!important;padding:0em;padding-bottom:0.2em;margin-right:0;}
ul.blue ul li a{padding:0.2em 0em!important;background-image:none;}
ul.blue li:hover > ul{visibility:visible;display:block;    -moz-animation: fadeInDown .3s ease-in ;    -webkit-animation: fadeInDown .3s ease-in ;    animation:fadeInDown .3s ease-in ;}  
ul.blue ul li:hover > ul{visibility:visible;display:block;    -moz-animation: fadeInLeft .3s ease-in ;    -webkit-animation: fadeInLeft .3s ease-in ;    animation:fadeInLeft .3s ease-in ;top:0px;left:100%;}  
ul.blue ul li a:hover {position:relative;}
ul.blue ul li:hover {position: relative;} 
ul.blue ul ul {left: 100%;top:0;}
ul.blue ul li a{color:#464747!important;display:block; width:100%;font-size:15px;text-transform:capitalize!important;border:none!important;}
ul.blue ul li a:hover{color:#058282!important;border-radius:0!important;}

ul.blue ul li{transition: transform 1s linear;transform:rotatex(90deg);}
ul.blue li:hover ul li{transform:rotatex(360deg);}

/*BANNER*/
.banner-block{width:100%;float:left;padding:20px 10px 50px;background:url("../images/bg.jpg") repeat scroll 0 0 transparent;}
.banner{width:100%;float:left;-webkit-box-shadow:0px 0px 7px 0px;-moz-box-shadow:0px 0px 7px 0px;box-shadow:0px 0px 7px 0px;}
.banner .list-unstyled{margin-bottom:0px;}
.banner .flexslider{padding:0px;}

.banner .flex-control-paging li{margin:0px 8px;}

.banner-block input{font-size:18px;padding:5px 10px;float:right;}
