* {margin:0px;padding:0px;}
a{text-decoration:none;}
img{border:none;}
a:hover, a:focus{text-decoration:none;}

body { font-family: 'Open Sans', sans-serif;font-weight:normal;font-size: 62.5%;background-color:#FFFFFF;}
p{font-size:24px;color:#1a1a1a/*#00A153*/;line-height:30px;font-weight:lighter;word-break: break-word;font-family: 'Boogaloo', cursive;}
h3{font-size:40px;font-weight:700;color:#00A153;;padding-bottom:5px;text-align:center;margin:0px;text-transform:uppercase;font-family: 'Open Sans Condensed', sans-serif;}
h3.block-title{background:url("../images/img2.png") no-repeat scroll bottom center;margin-bottom:50px;}
h3 a{color:#00A153;}
h3 a:focus,h3 a:hover{color:#00A153;}
h2{font-size:21px;color:#fe7702;}
h2 a{color:#fe7702;}
h2 a:focus, a:hover{color:#fe7702;}

/*
#27AE60

font-family: 'Sacramento', cursive; - cursive small
*
#2ECC71
*/





#wrapper{margin: 0 auto;}
.container{max-width:1165px;}
.no-padding{padding:0;}
.no-margin{margin:0;}
.no-padding-right{padding-right:0;}
.no-padding-left{padding-left:0;}

/*header-block*/
.header-outer{float:left;width:100%;}
.header-block{float:left;width:100%;}
.header-content{float:left;width:100%;}
.logo{width:100%;text-align:center;padding: 10px 0px;margin-top:-45px;z-index:1;}
.logo img{max-width:18%;margin:0 auto;border:5px solid #FFFFFF;
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);}

.header-outer{z-index:100;-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.75);}
.header-block{float: left;width:100%;position:relative;z-index:10;background-color:rgba(255, 255, 255,0.7);}
/*.header-block:after{content:"";background-color:#FFFFFF;height:100%;width:100%;position:absolute;top:0;left:0;opacity:0.7;z-index:-1;}*/
.header-content{float: left;width:100%;padding: 5px 0px;}
/*.logo {padding: 15px 0px;}*/


.header-top-content{background-color:#00A153;padding:10px 0px;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);}
.header-contact{float:left;width:100%;}
.header-contact ul{list-style-type: none;}
.header-contact ul li{float: left;position:relative;z-index:1;}
.header-right ul li:last-child{float: right;}
.header-contact ul li a{font-size: 15px;color: #FFFFFF;font-family: 'Cabin', sans-serif;}
.header-contact .fa{color:#FFFFF;font-size:20px;margin-right: 10px;top: 4px;vertical-align:bottom;}
.header-contact .fa-mobile{font-size:25px;}
.header-logo{background-color:#FFFFFF;}


/*menu*/
.menu-block{padding:5px 0px;}
.menucontainer{position:relative;float:left;width:100%;text-align: center;}
.menucontainer ul{display:block;width:auto;margin-left:0px;margin-top:0px;margin-bottom:0px;}
.menucontainer ul li {position:relative;display:inline-block;text-align:center;float:none;list-style-type: none;width: auto; margin:0px;min-width:150px;}
.menucontainer ul li a {display:block;color:#00A153;font-weight:bold;font-size:16px;padding:10px 10px;font-family: 'Raleway', sans-serif;font-weight:normal;outline:none;position:relative;text-transform:uppercase;text-shadow:1px 1px 1px #000000;}
.menucontainer ul li:last-child{background:none;margin-right:0;}
.menucontainer ul.mobile-display{display:none;}
/*.menucontainer ul li.active,.menucontainer ul li:hover{background-color: #fd7800;border-bottom: 2px solid #C65323;}
.menucontainer ul li.active a,.menucontainer ul li:hover a{color:#fff;}*/

.fixed-menu{left: 0px;top: 0px;position: fixed;z-index:100;transition:all 0.5s ease 0s;opacity: 0.9;}

/*banner*/
.banner-block{float:left;width:100%;margin-top:-63px;background-color:#ffffff;}
.banner{float:left;width:100%;position:relative;}
/*
 http://files.hostgator.co.in/hostgator96429/image/light.jpg
 
 https://www.transparenttextures.com/patterns/black-orchid.png
 
 
 */
.banner-bg{background:url("https://www.transparenttextures.com/patterns/black-orchid.png") repeat scroll 0 0;position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;opacity:0.3;}
.banner .flexslider .slides > li{position:relative;}
.banner img{max-width: 100%;}
.banner .flexslider{padding:0px;}
.banner .flex-direction-nav a{width:45px;height:44px;position:absolute;top:47%;}
.banner .flex-control-nav{position:relative;bottom:0;padding:10px 0px;z-index:1000;}
.banner .flex-control-paging li a,.banner .flex-control-paging li a:hover{background-color:#7f8c8d;}
.banner .flex-control-paging li a.flex-active{background-color:#00A153;}

/*OFFER-BLOCK*/
.offer-block{padding:2% 0;background-color: #33ff9c/*#6ede9c*/;
-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);}
.offer-scroll{padding-top:55px;}
.offer-scroll li{font-size:28px;line-height:56px;/*font-family:'Orbitron', sans-serif;*/font-family: 'Boogaloo', cursive;}
.offer-scroll .simply-scroll{height:55px!important;}
.simply-scroll .simply-scroll-clip{height:55px!important;}
.special-offer{background:url("../images/offer.png") no-repeat scroll 0 0;background-size:cover;min-height:200px;}


/*ABOUTUS-BLOCK*/
.aboutus-block{padding:4% 0;background:url("../images/bg1.jpg") no-repeat fixed 0 0;background-size:cover;background-blend-mode:lighten;position:relative;}
.about-bg{display:none;}
/*.about-bg{position:absolute;top:0;left:0;z-index:-1;height:100%;opacity:0.6;}
.about-bg img{height:100%;}*/
.aboutus-block p{text-align:center;}



/*PROMOTION-BLOCK*/
.promotion-block{padding:4% 0;background-color:#fff/*#cccccc*/;}
.promotion{position:relative;}
.promotion span.box{position:absolute;top:25%;left:25%;width:50%;height:50%;border:1px solid #FFF;opacity:0;transition:all 0.2s ease 0.1s;}
.promotion-img{background-color:rgba(0, 161, 83, 0.3);position:absolute;width:100%;height:100%;top:0;left:0;opacity:0;transition:all 0.8s ease;}
.promotion-img .example-image-link{padding:20px 25px 20px 20px;position:absolute;left:50%;top:50%;margin-top:-39px;margin-left:-40px;z-index:10;}
.promotion-img span.fa{font-size:38px;color:#FFF;}
.promotion:hover .promotion-img{opacity:1;}
.promotion:hover span.box{opacity:1;width:100%;height:100%;margin:0;left:0;top:0;z-index:0;}

#promotion-drop li{display:none;}
#promotion-drop li:first-child{display:block;}
.load-more{text-align:center;padding:20px 10px;margin-top:20px;}
.load-more a{display:inline-block;font-size:20px;min-width:140px;padding:10px 10px;text-align:center;background-color:#FFF;border:2px solid #00a153;color:#00a153;font-weight:bold;border-radius:5px;}

#lightboxOverlay{background-color:#CBCBCB!important;}
.lb-details{display:none;}
.lb-closeContainer{width:100%;float:left;position:relative;}
.lb-container{position:relative;-webkit-box-shadow:0 1px 5px #000;-moz-box-shadow:0 1px 5px #000;box-shadow:0 1px 5px #000;}
.lb-nav{position:static!important;}
.lb-nav a.lb-next,.lb-nav a.lb-prev,.lb-closeContainer .lb-close{width:32px!important;height:32px!important;z-index:10!important;opacity:0.5!important;-webkit-transition:all 0.3s ease 0s !important;-moz-transition:all 0.3s ease 0s !important;-ms-transition:all 0.3s ease 0s !important;transition:all 0.3s ease 0s !important;cursor:pointer;}
.lb-nav a.lb-next,.lb-nav a.lb-prev{top:45%;margin-top:-16px;}
.lb-nav a.lb-next{background:url("../images/next.png") no-repeat scroll 0 0!important;right:-95%!important;}
.lb-nav a.lb-prev{background:url("../images/previous.png") no-repeat scroll 0 0!important;left:-95%!important;}
.lb-closeContainer .lb-close{background:url("../images/close.png") no-repeat scroll 0 0!important;float:right;position:absolute;top:-100px;right:50px;}

.lb-nav a.lb-next:hover,.lb-nav a.lb-prev:hover,.lb-closeContainer .lb-close:hover{opacity:1!important;-webkit-transform:scale(1.4);-moz-transform:scale(1.4);-ms-transform:scale(1.4);transform:scale(1.4);}


/*TESTIMONIAL-BLOCK*/

/*
 http://images.selectwallpaper.co.uk/A-Rod/Bluebox/2221.jpg
 
 http://www.murando.es/mediacache/catalog/product/cache/6/5/32856/image/5e06319eda06f020e43594a9c230972d/32856_1.jpg
 */
.testimonial-block{padding:4% 0;}
.test-bg{width:100%;height:100%;position:fixed;left:0;top:0;z-index:-1;display:block;background:url("../images/testbg.jpg") repeat scroll 0 0;background-size:100% 100%;
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
filter: blur(3px);
}
.testimonial-block-content{padding:0 10%;}
.testimonial-slide{}
.testimonial-common-block .img-content{padding-top:2%;}
.testimonial-common-block .img-content img{margin:0px auto;max-width:60%;border-radius:50%;}
.testimonial-common-block .text-content{float:right;padding:15px 5%;position:relative;}
.testimonial-common-block .text-content p{font-size:20px;line-height:36px;}
.testimonial-common-block .text-content h4{font-size:24px;font-family: 'Boogaloo', cursive;}
.testimonial-common-block .text-content h4:before{content:" - ";}
.testimonial-common-block .text-content h4,.testimonial-common-block .text-content h4 a{color:#00a153;}
.text-content span.fa{font-size:90px;color:#00a153;position:absolute;top:0px;left:0px;opacity:0.4;z-index:-1;}
.text-content span.fa-quote-right{left:auto;top:auto;right:5px;bottom:10px;}
.text-inner{min-height:200px;}

.testimonial-slide .slides > li{display:none;-webkit-backface-visibility:hidden;}
.testimonial-slide .flex-control-nav{position:static;margin-top:30px;}
.testimonial-slide .flex-control-paging li a,.testimonial-slide .flex-control-paging li a:hover{height:6px;width:25px;background:#FFF;border:1px solid #a6a6a6;}
.testimonial-slide  .flex-control-paging li a.flex-active{background:#00a153;	}


footer{float:left;/*background-color:#001a0d;*/border-top:5px solid #00a153;font-family: 'Walter Turncoat', cursive;}
.footer-top{background-color:#737373;padding:3% 0 2%;}
.contact-block h3{font-size:26px;font-family: 'Walter Turncoat', cursive;font-size:32px;margin-bottom:20px;font-weight:bold;}
.contact-block h3,.contact-block h3 a{color:#FFF;}
.contact-block li{font-size:18px;position:relative;padding-left:26px;margin-bottom:10px;}
.contact-block li,.contact-block li a{color:#FFF;}
.contact-block li.left-contact{padding-right:5%;}
.contact-block li.right-contact{padding-left:0;}
.contact-block li span.fa{font-size:20px;position:absolute;left:0;top:5px;color:#00a153;}
.contact-block li span.fa-mobile{font-size:26px;top:0;}

.footer-logo{text-align:left;}
.footer-logo p{font-family:"Walter Turncoat",cursive;font-size:18px;}
.footer-logo p a{color:#00a153;}
.footer-logo img{max-width:45%;}

/*.social-icon li{padding:5px;min-width:35px;padding:8px 5px;border-radius:50%;margin:0px 7px;background-color:#00a153;transition:background-color 0.3s ease-in;}
.social-icon li.head{padding:0;border-radius:0;background-color:transparent;}
*/
.social-icon{text-align:right;float:right;}
.social-icon li{margin:0px 3px;}
.social-icon li.head a{color:#FFF;}
.social-icon li a{display:block;}
.social-icon li span{font-size:28px;color:#00a153;transition:color 0.2s ease-in;}
/*.social-icon li span.fa-google-plus{font-size:18px;padding:1px;}*/

/*.social-icon li:hover{background-color:#FFF;}*/
.social-icon li:hover span{color:#FFF;}
.social-icon li.head:hover{background-color:transparent;color:inherit;}

.map-block{padding:0 3%;background-color:#737373;padding-bottom:40px;}
#mapid{height:350px;border-radius:5px;
box-shadow:6px 6px 7px -2px rgba(0, 0, 0, 0.75);}
/*
http://www.lillooethouserental.com/wp-content/uploads/2014/08/21381-dark-grey-polygon-2560x1600-abstract-wallpaper.jpg
 */
.footer-bottom{background-color:#313131;padding:2% 0 2%;
/*background:url("http://www.lillooethouserental.com/wp-content/uploads/2014/08/21381-dark-grey-polygon-2560x1600-abstract-wallpaper.jpg") no-repeat scroll 0 0;*/}

