<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />
		<link href='https://fonts.googleapis.com/css?family=Cuprum:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Expletus+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Exo+2:400,800,700italic,900,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,600' rel='stylesheet' type='text/css'>		
		<link href='https://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>		
		<style type="text/css">
			body{-webkit-text-size-adjust: 100%;}
		</style>
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- <link href="stylesheets/bootstrap.min.css" media="all" type="text/css" rel="stylesheet"/> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="stylesheets/flexslider.css" media="all" type="text/css" rel="stylesheet"/>
		<link href="stylesheets/animate.css" media="all" type="text/css" rel="stylesheet"/>
		<link href="stylesheets/firstp.css" media="all" type="text/css" rel="stylesheet"/>
		
		<title>MINING</title>
	</head>
	
	<body>
		<div id="wrapper">	
			<header>				
				<div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
							<div class="logo col-md-12 col-sm-12 col-xs-12 no-padding">
								<a href="#nogo"><img src="images/logo3.jpg" class="img-responsive" alt="logo"/></a>
							</div><!--LOGO-->
							
							<!-- <div class="menublock col-md-10 col-sm-10 col-xs-12">
								<ul class="menu">
									<li><a href="#nogo">MENU 1</a></li>
									<li><a href="#nogo">MENU 2</a></li>
									<li><a href="#nogo">MENU 3</a></li>
									<li><a href="#nogo">MENU 4</a></li>
									<li><a href="#nogo">MENU 5</a></li>
								</ul>
							</div><!--MENUBLOCK-- -->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--HEADER-TOP-->		
				
				<div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<img src="images/16.jpg" class="img-responsive" alt="banner">
								<div class="banner-content wow bounceInUp" data-wow-delay="2s">
									<h2><a href="#nogo">Cras convallis</a></h2>
								</div><!--BANNER-CONTENT-->
							</li>
							<li>
								<img src="images/16.jpg" class="img-responsive" alt="banner">
								<div class="banner-content wow bounceInUp" data-wow-delay="2s">
									<h2><a href="#nogo">Cras convallis</a></h2>
								</div><!--BANNER-CONTENT-->
							</li>
							<li>
								<img src="images/16.jpg" class="img-responsive" alt="banner">
								<div class="banner-content wow bounceInUp" data-wow-delay="2s">
									<h2><a href="#nogo">Cras convallis</a></h2>
								</div><!--BANNER-CONTENT-->
							</li>
						</ul>
					</div>
				</div><!--BANNER-BLOCK-->
				
				<div class="menublock col-md-12 col-sm-12 col-xs-12">
					<div class="container no-padding">
						
						<div class="row no-margin">
							<ul class="menu">
								<li><a href="#nogo">MENU 1</a></li>
								<li><a href="#nogo">MENU 2</a></li>
								<li><a href="#nogo">MENU 3</a></li>
								<li><a href="#nogo">MENU 4</a></li>
								<li><a href="#nogo">MENU 5</a></li>
							</ul>
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--MENUBLOCK-->
			</header>
			
			<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
				
				<div class="intro-block col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
								<h3 class="even"><a href="#nogo">Neque porro <span>quisquam</span></a></h3>	
								
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt iaculis libero, in maximus neque luctus quis. 
									Sed semper ultrices libero, vel aliquam felis malesuada at. Integer a dui vitae urna semper volutpat. Ut quis tristique leo. 
									Quisque consequat, nibh eu lobortis volutpat, felis massa maximus quam, ac facilisis arcu urna vitae libero. Vestibulum scelerisque laoreet semper. Suspendisse ac justo justo.
								</p>
								
								<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, 
									rhoncus quis massa sed, aliquet porta augue. Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. 
								 	Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
								</p>
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INTRO-BLOCK-->
				
				<div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
								
								<div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
									<a href="#nogo"><img src="images/23.jpg" alt="info-img" class="img-responsive"></a>
								</div><!--IMAGE-BLOCK-->
								
								<div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
									<h3 class="odd"><a href="#nogo">Qui dolorem <span>ipsum</span></a></h3>
									<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, rhoncus quis massa sed, aliquet porta augue. 
										Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
									</p>
									<div class="read-more">
										<a href="#nogo">READ MORE..</a>
									</div><!--READ-MORE-->
								</div><!--IMAGE-BLOCK-->
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INFO-BLOCK-->
				
				
				<div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">								
								<div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
									<a href="#nogo"><img src="images/21.jpg" alt="info-img" class="img-responsive"></a>
								</div><!--IMAGE-BLOCK-->
								
								<div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInLeft">
									<h3 class="even"><a href="#nogo">Qui dolorem <span>ipsum</span></a></h3>
									<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, rhoncus quis massa sed, aliquet porta augue. 
										Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
									</p>
									<div class="read-more">
										<a href="#nogo">READ MORE..</a>
									</div><!--READ-MORE-->
								</div><!--TEXT-BLOCK-->
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INFO-BLOCK-->
				
				<div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
								
								<div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
									<a href="#nogo"><img src="images/22.jpg" alt="info-img" class="img-responsive wow jello"></a>
								</div><!--IMAGE-BLOCK-->
								
								<div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
									<h3 class="odd"><a href="#nogo">Qui dolorem <span>ipsum</span></a></h3>
									<p>Fusce lacinia mauris diam, id viverra urna semper sed. Pellentesque commodo dui risus, in venenatis magna cursus eu. Duis quis molestie eros, eu ultrices dolor. Etiam diam dolor, rhoncus quis massa sed, aliquet porta augue. 
										Donec fringilla interdum ullamcorper. Mauris posuere justo eget dolor ultricies, nec auctor sapien laoreet. Nullam mattis tellus eget libero porta venenatis at ut diam. Suspendisse dignissim tristique dui, id finibus nisi lacinia sit amet. 
									</p>
									<div class="read-more">
										<a href="#nogo">READ MORE..</a>
									</div><!--READ-MORE-->
								</div><!--TEXT-BLOCK-->
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--INFO-BLOCK-->
				
				
				<div class="testimonial-block col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
							<h3 class="even"><a href="#nogo">CLIENT <span>TESTIMONIALS</span></a></h3>
							<div class="testimonial-slide col-md-12 col-sm-12 col-xs-12 no-padding">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
									    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									    <li data-target="#myCarousel" data-slide-to="1"></li>
									    <li data-target="#myCarousel" data-slide-to="2"></li>
									    <li data-target="#myCarousel" data-slide-to="3"></li>
									</ol>
									
									<div class="carousel-inner" role="listbox">
									    <div class="item active">
											<div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
												<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. 
													Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, 
													li pronunciation e li plu commun vocabules.
												</p>
												<h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
												<h5><a href="#nogo">DESCRIPTION</a></h5>
											</div><!--TESTIMONIAL-->
									    </div>
									
									    <div class="item">
											<div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
												<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. 
													Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, 
													li pronunciation e li plu commun vocabules.
												</p>
												<h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
												<h5><a href="#nogo">DESCRIPTION</a></h5>
											</div><!--TESTIMONIAL-->
									    </div>
									    
									    <div class="item">
											<div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
												<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. 
													Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, 
													li pronunciation e li plu commun vocabules.
												</p>
												<h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
												<h5><a href="#nogo">DESCRIPTION</a></h5>
											</div><!--TESTIMONIAL-->
									    </div>
									    
									    <div class="item">
											<div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
												<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. 
													Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, 
													li pronunciation e li plu commun vocabules.
												</p>
												<h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
												<h5><a href="#nogo">DESCRIPTION</a></h5>
											</div><!--TESTIMONIAL-->
									    </div>
									</div>
									
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									    <span class="sr-only">Previous</span>
									</a>
									
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									    <span class="sr-only">Next</span>
									</a>
								</div><!--CAROUSEL-->
							</div><!--TESTIMONIAL-BLOCK-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->	
				</div><!--TESTIMONIAL-BLOCK-->
				
			</div><!--CONTAINER-BLOCK-->
			
			<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
				<div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
							
							<div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
								<div class="address-block col-md-4 col-sm-4 col-xs-12">
									<h4>CONTACT US</h4>
									
									<p>Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim.</p>
								</div><!--ADDRESS-BLOCK-->
								
								<div class="social-link col-md-4 col-sm-4 col-xs-12">
									<h4>FOLLOW US</h4>
									
									<ul class="list-unstyled">
										<li><a href="#nogo"><span class="fa fa-facebook"></span> - www.facebook.com</a></li>
										<li><a href="#nogo"><span class="fa fa-twitter"></span> - www.twitter.com</a></li>
										<li><a href="#nogo"><span class="fa fa-linkedin"></span> - www.linkedin.com</a></li>
									</ul>
								</div><!--SOCIAL-LINK-->
								
								<div class="contact-us col-md-4 col-sm-4 col-xs-12">
									<h4>WRITE US</h4>
									
									<form>
										<input type="text" class="form-control" placeholder="NAME">
										
										<input type="text" class="form-control"  placeholder="EMAIL">
										
										<textarea class="form-control"  placeholder="CONTENT"></textarea>
										
										<div class="submit-btn">
											<input type="button" value="SUBMIT">
										</div>
									</form>
								</div><!--DUMMY-->
							</div><!--CONTENT-->
							
						</div><!--ROW-->
					</div><!--CONTAINER-->
				</div><!--FOOTER-TOP-->
				
				<div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
					<div class="container no-padding">
						<div class="row no-margin">
						
						<div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="powered-by col-md-4 col-sm-4 col-xs-12 no-padding">
								<p>@2016 GOOD SIDE, CCC TPL</p>
							</div><!--POWERED-BY-->
							
							<div class="footer-menu col-md-8 col-sm-8 col-xs-12 no-padding">
								<ul class="list-inline">
									<li><a href="#nogo">MENU 1</a></li>
									<li><a href="#nogo">MENU 2</a></li>
									<li><a href="#nogo">MENU 3</a></li>
									<li><a href="#nogo">MENU 4</a></li>
									<li><a href="#nogo">MENU 5</a></li>
								</ul>
							</div><!--footer-menu-->
						</div><!--FOOTER-CONTENT-->
						
						</div><!--ROW-->
					</div><!--CONTAINER-->
				</div><!--FOOTER-BOTTOM-->
			</div><!--FOOTER-->
			
			
		</div><!--WRAPPER-->
				
		<script src="stylesheets/jquery-1.11.1.js" type="text/javascript"></script>
		<script src="stylesheets/jquery-ui.min2.js" type="text/javascript"></script>
		<script src="stylesheets/wow.min.js" type="text/javascript"></script>
		<script src="stylesheets/jquery.flexslider.js" type="text/javascript"></script>
		  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
					animation : "slide",
					animationSpeed : 2000,
					controlNav : false,
					easing : "swing",
					touch : true,
					pauseOnHover : true
				});
			});	
		</script>	
		
		<script>
		$(window).load(function(){
	        /* wow script for animation */
	        var wow = new WOW().init();
		});
		</script>
		<script>
		$(document).ready(function(){
			$('header').css("min-height", $(window).height());
			$(document).on("scroll", function(){
				var windowht = $(window).height();
				var currentht = $(document).scrollTop();
				console.log(windowht);
				console.log(currentht);
				if (currentht > windowht){
					$('.menublock').addClass('fixed-menu');
				}
				else {
					$('.menublock').removeClass('fixed-menu');
				}
			});
		});
		
		</script>
	</body>
</html>
